@charset "UTF-8";

#lacoupon_pc_page .title {
    padding: 5px 0 34px;
}

#lacoupon_pc_page .couponRegister {
    padding: 19px 0 14px 29px;
    border: 1px solid #ddd;
}

#lacoupon_pc_page .couponRegister input {
    width: 210px;
    height: 34px;
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid #514859;
    font-size: 12px;
    color: #000;
    line-height: 32px;
    outline: none;
    letter-spacing: -.6px;
}

#lacoupon_pc_page .couponRegister button {
    width: 140px;
    height: 34px;
    border: none;
    background-color: #5f0080;
    font-size: 12px;
    color: #fff;
    line-height: 32px;
}

#lacoupon_pc_page .couponRegister span {
    display: block;
    padding-top: 13px;
    font-size: 12px;
    color: #f03f40;
    line-height: 18px;
}

#lacoupon_table_description {
    display: flex;
    justify-content: space-between;
    color: #666;
    font-weight: 400;
    padding: 35px 0 15px;
}

#lacoupon_table_description div {
    display: flex;
    align-items: center;
}

#lacoupon_table_description .availableCoupon {
    float: right;
    font-size: 13px;
    margin-right: 6px;
}

#lacoupon_table {
    width: 100%;
}

#lacoupon_table_header {
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    letter-spacing: -.5px;
    line-height: 20px;
}

#lacoupon_table_header th.name {
    padding-left: 10px;
    text-align: left;
}

#lacoupon_table_header th {
    padding: 20px 0;
}