/* @charset "UTF-8";
override
#content {
	padding-bottom: 0
}

#qnb {
	top: 516px
}

#headerLogo .logo img {
	
}

##############
메인 공지 팝업
##############
#mainNotice {
	position: relative;
	z-index: 5000;
	width: 1050px;
	margin: 0 auto
}

#mainNotice .main_popup {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 40px;
	width: 440px;
	border-radius: 6px;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

#mainNotice .main_popup1 {
	left: 0
}

#mainNotice .main_popup2 {
	left: 0
}

#mainNotice .main_popup3 {
	left: 0
}

#mainNotice .main_popup4 {
	left: 0
}

#mainNotice .inner_mainpopup {
	position: relative;
	height: 100%
}

#mainNotice .pop_view img {
	width: 100%;
	vertical-align: top
}
하단버튼
#mainNotice .pop_footer {
	overflow: hidden;
	width: 100%;
	height: 60px;
	border-top: 1px solid #f7f7f7;
	background-color: #fff
}

#mainNotice .pop_footer .btn {
	overflow: hidden;
	float: left;
	width: 100%;
	height: 100%;
	border: 0 none;
	background-color: #fff;
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 16px;
	color: #333;
	line-height: 20px;
	text-align: center
}

#mainNotice .pop_select .btn {
	float: left;
	width: 219px;
}

#mainNotice .pop_select .btn:last-child {
	float: right;
	width: 219px;
	border-left: 1px solid #f7f7f7
}
비밀번호변경 팝업
#change_pw {
	position: absolute;
	left: 0;
	top: 0;
	width: 404px
}

#change_pw .inner_popdiv {
	width: 404px;
	padding: 0 20px;
	background-color: #fff;
	border: 2px solid #514859;
	text-align: left
}

#change_pw .line {
	height: 2px;
	border: none;
	outline: none;
	background-color: #5f0080
}

#change_pw .line_grey {
	height: 2px;
	border: none;
	outline: none;
	background-color: #dddfe1
}

#change_pw .tit {
	display: block;
	padding: 32px 0 15px;
	font-size: 16px;
	font-weight: 700;
	color: #5f0080
}

#change_pw .wrap_pw {
	padding: 22px 0;
	font-size: 16px;
	color: #000
}

#change_pw .desc {
	padding-bottom: 10px;
	letter-spacing: -.5px
}

#change_pw .btn_group {
	height: 50px
}

#change_pw .inner_popdiv .btn {
	overflow: hidden;
	position: absolute;
	bottom: 2px;
	height: 26px;
	font-size: 14px;
	line-height: 26px
}

#change_pw .inner_popdiv .btn_close {
	left: 2px;
	width: 200px;
	background-color: #fff;
	color: #5f0080;
	border-top: 1px solid #5f0080;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	letter-spacing: 0.5px
}

#change_pw .inner_popdiv .link_move {
	right: 2px;
	width: 200px;
	background-color: #5f0080;
	color: #fff;
	border: 1px solid #512771;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	letter-spacing: 0.5px
}

#change_pw .inp_tit {
	display: block;
	padding: 13px 0 5px 0;
	font-size: 14px;
	letter-spacing: -.5px;
	color: #5f0080;
	font-weight: bold
}

#change_pw .wrap_inp {
	position: relative
}

#change_pw .txt_placeholder {
	position: absolute;
	z-index: 9;
	display: block;
	font-size: 16px;
	top: 12px;
	left: 10px;
	font-family: "Noto Sans";
	font-weight: 200;
	line-height: 18px;
	color: #949296
}

#change_pw .pw_inp {
	width: 100%;
	padding: 10px
}

#change_pw .item_info dt {
	padding-bottom: 5px
}

#change_pw .pw_notice {
	padding-top: 19px
}

#change_pw .new_pw {
	margin-bottom: 20px
}

#change_pw .mark_valid {
	display: none;
	font-size: 12px;
	color: #514859;
	line-height: 20px
}

#change_pw .wrap_inp .mark_valid .good {
	color: #0e851a
}

#change_pw .wrap_inp .mark_valid .bad {
	color: #b3130b
}

#change_pw .wrap_inp .mark_coincide.good {
	color: #0e851a
}

#change_pw .wrap_inp .mark_coincide.bad {
	color: #b3130b
}

#change_pw .pw_inp.inp_invalid {
	border: 1px solid #b3130b
}

#change_pw input[type=password] {
	height: 44px;
	outline: none;
	border: 1px solid #514859
}

####
공통
####
.page_main {
	overflow: hidden;
	width: 100%;
	margin: 0;
	opacity: 0
}

.page_main * {
	color: #333
}

.page_main .bg {
	background-color: #f7f7f7
}

.page_main .tit_goods {
	padding: 79px 0 35px
}

.page_main .tit_goods.top_short {
	padding-top: 21px
}

.page_main .tit_goods .tit {
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.3px;
	text-align: center
}

.page_main .tit_goods .name {
	position: relative;
	font-weight: 700
}

.page_main .tit_goods a {
	cursor: pointer
}

.page_main .tit_goods .name .ico {
	padding: 0 31px;
	background:
		url(https://res.kurly.com/pc/service/main/1908/ico_title_link_x1.png)
		no-repeat 100% 50%;
	font-weight: 700
}

.page_main .tit_goods .tit_desc {
	display: block;
	padding-top: 10px;
	font-weight: 400;
	font-size: 16px;
	color: #999;
	line-height: 20px;
	text-align: center
}

.page_main .list_goods a {
	cursor: pointer
}

.page_main .list_goods .thumb_goods {
	display: block;
	overflow: hidden
}

.page_main .list_goods .thumb_goods .ico {
	z-index: 1;
	transition: all 0.3s ease-in-out
}

.page_main .list_goods .thumb_goods .thumb {
	display: block;
	margin: 0 auto;
	background-position: 50% 50%;
	background-size: cover;
	transform: scale(1);
	transition: all 0.3s ease-in-out
}

.page_main .list_goods .thumb_goods:hover .thumb {
	transform: scale(1.02);
	transition: all 0.3s ease-in-out
}

슬라이드_버튼
.page_main .bx-controls-direction {
	position: relative;
	width: 1050px;
	margin: 0 auto
}

.page_main .bx-controls-direction .bx-next, .page_main .bx-controls-direction .bx-prev
	{
	overflow: hidden;
	position: absolute;
	bottom: 316px;
	width: 60px;
	height: 60px;
	border: 0 none;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	transition: opacity 0.5s
}

.page_main .bx-controls-direction .bx-prev {
	left: -30px;
	background:
		url(https://res.kurly.com/pc/service/main/1908/btn_prev_default.png?v=1)
		no-repeat 50% 50%;
	transition: background 0.5s
}

.page_main .bx-controls-direction .bx-prev:hover {
	background:
		url(https://res.kurly.com/pc/service/main/1908/btn_prev_default_hover_x1.png?v=1)
		no-repeat 50% 50%;
	transition: background 0.5s
}

.page_main .bx-controls-direction .bx-next {
	right: -30px;
	background:
		url(https://res.kurly.com/pc/service/main/1908/btn_next_default.png?v=1)
		no-repeat 50% 50%;
	transition: background 0.5s
}

.page_main .bx-controls-direction .bx-next:hover {
	background:
		url(https://res.kurly.com/pc/service/main/1908/btn_next_default_hover_x1.png?v=1)
		no-repeat 50% 50%;
	transition: background 0.5s
}

.page_main .bg .bx-controls-direction .bx-prev {
	left: -30px;
	background:
		url(https://res.kurly.com/pc/service/main/1908/btn_prev_gray_x1.png?v=1)
		no-repeat 50% 50%;
	transition: background 0.5s
}

.page_main .bg .bx-controls-direction .bx-prev:hover {
	background:
		url(https://res.kurly.com/pc/service/main/1908/btn_prev_gray_hover_x1.png?v=1)
		no-repeat 50% 50%;
	transition: background 0.5s
}

.page_main .bg .bx-controls-direction .bx-next {
	right: -30px;
	background:
		url(https://res.kurly.com/pc/service/main/1908/btn_next_gray_x1.png?v=1)
		no-repeat 50% 50%;
	transition: background 0.5s
}

.page_main .bg .bx-controls-direction .bx-next:hover {
	background:
		url(https://res.kurly.com/pc/service/main/1908/btn_next_gray_hover_x1.png?v=1)
		no-repeat 50% 50%;
	transition: background 0.5s
}

.page_main .bx-controls-direction .disabled {
	opacity: 0
}

#######
1종노출
#######
1종노출+슬라이드+fullsize
.main_type1 .list_goods .thumb_goods {
	width: 100%;
	height: 370px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto auto;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px
}

.main_type1 .bx-controls-auto {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px
}

.main_type1 .bx-controls-direction .bx-next, .main_type1 .bx-controls-direction .bx-prev
	{
	bottom: 159px;
	width: 52px;
	height: 52px;
	opacity: 0
}

.main_type1 .bx-controls-direction .bx-prev:hover, .main_type1 .bx-controls-direction .bx-prev
	{
	left: -91px;
	background:
		url(https://res.kurly.com/pc/service/main/1908/ico_prev1_x1.png)
		no-repeat 50% 50%;
	transition: opacity 0.5s
}

.main_type1 .bx-controls-direction .bx-next:hover, .main_type1 .bx-controls-direction .bx-next
	{
	right: -91px;
	background:
		url(https://res.kurly.com/pc/service/main/1908/ico_next1_x1.png)
		no-repeat 50% 50%;
	transition: opacity 0.5s
}

.main_type1 .list_goods:hover .bx-next, .main_type1 .list_goods:hover .bx-prev
	{
	opacity: 1
}

@media all and (max-width: 1250px) {
	.main_type1 .bx-controls-direction .bx-prev:hover, .main_type1 .bx-controls-direction .bx-prev
		{
		left: -26px
	}
	.main_type1 .bx-controls-direction .bx-next:hover, .main_type1 .bx-controls-direction .bx-next
		{
		right: -26px
	}
}

#######
4종노출
#######
4종노출+슬라이드
.main_type2 .global_sticker .inner_sticker {
	left: 0;
	top: 0
}

.main_type2 .list_goods {
	width: 1050px;
	height: 506px;
	margin: 0 auto
}

.main_type2 .list_goods .list {
	width: 99999px
}

.main_type2 .list_goods li {
	float: left;
	width: 249px;
	height: 506px;
	margin-right: 18px
}

.main_type2 .list_goods .thumb_goods {
	position: relative;
	background-color: #eee
}

.main_type2 .list_goods .ico {
	position: absolute;
	left: 0;
	top: 0;
	width: 62px;
	height: 54px
}

.main_type2 .list_goods .thumb {
	width: 249px;
	height: 320px
}

.main_type2 .list_goods .name {
	display: block;
	overflow: hidden;
	max-height: 50px;
	margin-top: 12px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word
}

.main_type2 .list_goods .txt {
	font-size: 16px;
	line-height: 23px
}

.main_type2 .list_goods .price {
	display: block;
	padding-top: 9px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px
}

.main_type2 .list_goods .dc {
	padding-right: 8px;
	font-weight: 800;
	font-size: 16px;
	color: #fa622f;
	line-height: 20px
}

.main_type2 .list_goods .cost {
	display: block;
	padding-top: 5px;
	font-size: 14px;
	color: #999;
	line-height: 18px;
	text-decoration: line-through
}
엠디의 추천
.category_type {
	padding-bottom: 100px
}

.category_type .list_goods {
	height: 462px
}

.category_type .list_goods.none {
	height: 0
}

.category_type .list_goods li {
	height: 462px
}

.category_type .bx-controls-direction .bx-next, .category_type .bx-controls-direction .bx-prev
	{
	bottom: 272px
}

.category_type .category .list_category {
	width: 1050px;
	max-width: 1050px;
	padding: 0 0 20px;
	margin: 0 auto;
	text-align: center;
	font-size: 0
}

.category_type .category .list_category li {
	display: inline-block;
	padding: 0 5px 20px
}

.category_type .category .list_category .cut:before {
	content: "";
	display: block;
	overflow: hidden;
	width: 100%;
	height: 0
}

.category_type .category .list_category .menu {
	display: inline-block;
	height: 40px;
	padding: 9px 20px 0 19px;
	border: 1px solid #f7f7f6;
	border-radius: 20px;
	background-color: #f7f7f7;
	font-size: 14px;
	line-height: 18px
}

.category_type .category .list_category .menu:hover {
	border: 1px solid #f7f3f7;
	background-color: #f7f3f8;
	color: #5f0080
}

.category_type .category .list_category .on:hover, .category_type .category .list_category .on
	{
	border: 1px solid #5f0081;
	background-color: #5f0080;
	font-weight: 700;
	color: #fff
}

.category_type .link_cate {
	width: 516px;
	margin: 0 auto
}

.category_type .link_cate .link {
	display: block;
	overflow: hidden;
	height: 56px;
	padding-top: 16px;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.3px;
	cursor: pointer
}

.category_type .link_cate .ico {
	padding: 0 18px;
	background:
		url(https://res.kurly.com/pc/service/main/1903/ico_more_link_x1.png)
		no-repeat 100% 3px
}

.category_type .min .bx-controls {
	opacity: 0
}

.category_type .list_goods.over {
	overflow: hidden
}

.category_type .list_goods.over .bx-controls {
	opacity: 0
}

#######
3종노출
#######
.main_type3 .list_goods {
	width: 1050px;
	margin: 0 auto
}

.main_type3 .list_goods .list {
	width: 99999px
}

.main_type3 .list_goods li {
	float: left;
	width: 338px;
	margin-right: 18px
}

.main_type3 .list_goods .thumb_goods {
	display: block;
	position: relative
}

.main_type3 .list_goods .ico {
	position: absolute;
	left: 0;
	top: 0;
	width: 62px;
	height: 54px
}

.main_type3 .list_goods .thumb {
	width: 338px
}

.main_type3 .list_goods .name {
	display: block;
	overflow: hidden
}

.main_type3 .list_goods .desc {
	display: block;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis
}

.main_type3 .list_goods .desc .txt {
	font-size: 16px;
	line-height: 20px
}
3종노출_이벤트
.main_event .list_goods {
	overflow: hidden;
	height: 538px
}

.main_event .list_goods .list {
	width: 1068px
}

.main_event .list_goods li {
	height: 538px
}

.main_event .list_goods .thumb {
	height: 338px
}

.main_event .list_goods .name {
	max-height: 54px;
	margin-top: 17px;
	text-align: center;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word
}

.main_event .list_goods .name .txt {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.3px
}

.main_event .list_goods .desc {
	padding-top: 8px
}

.main_event .list_goods .desc .txt {
	color: #999
}

.main_event.min .list_goods {
	text-align: center
}

.main_event.min .list_goods .list {
	display: inline-block;
	width: auto;
	padding-left: 18px
}
3종노출_레시피
.main_recipe .list_goods {
	height: 303px
}

.main_recipe .list_goods li {
	height: 303px
}

.main_recipe .list_goods .thumb {
	height: 225px
}

.main_recipe .list_goods .name {
	padding-top: 12px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis
}

.main_recipe .list_goods .txt {
	font-size: 16px;
	line-height: 20px
}

.main_recipe .bx-controls-direction .bx-next, .main_recipe .bx-controls-direction .bx-prev
	{
	bottom: 160px
}

#######
6종노출
#######
6종노출+슬라이드 : 인스타그램전용
.main_type4 .list_goods {
	width: 1050px;
	height: 175px;
	margin: 0 auto
}

.main_type4 .list_goods .list {
	width: 99999px
}

.main_type4 .list_goods li {
	float: left;
	width: 175px;
	height: 175px
}

.main_type4 .list_goods .thumb {
	width: 175px;
	height: 175px
}

.main_type4 .list_goods .thumb_goods:hover .thumb {
	transform: scale(1)
}

.main_type4 .bnr {
	padding: 39px 0 100px;
	font-weight: 700;
	font-size: 16px;
	line-height: 29px;
	text-align: center
}

.main_type4 .bnr .txt {
	display: block;
	font-weight: 400;
	color: #999
}

.main_type4 .bnr a {
	font-weight: 700
}

.main_type4 .bx-controls-direction .bx-next, .main_type4 .bx-controls-direction .bx-prev
	{
	bottom: 58px
}

.main_type4 .bx-controls-auto {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px
}

########
스페셜딜
########
.main_special {
	padding-bottom: 88px
}

.main_special .inner_special {
	overflow: hidden;
	width: 1050px;
	margin: 0 auto;
	padding-top: 20px
}

.main_special .inner_special.no_line {
	border-top: 0 none
}

.main_special .tit_goods {
	float: left;
	width: 338px;
	padding: 11px 0 7px 10px
}

.main_special .tit_goods .tit {
	height: 173px;
	padding-left: 2px;
	text-align: left
}

.main_special .tit_goods .name {
	font-weight: 700;
	font-size: 32px;
	line-height: 48px
}

.main_special .tit_goods .tit_desc:before {
	content: "";
	display: block;
	width: 12px;
	height: 1px;
	margin: 7px 0 16px 2px;
	background-color: #999;
	word-break: break-all
}

.main_special .tit_goods .tit_desc {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
	text-align: left;
}

.main_special .sub_hook {
	padding: 0 0 10px 22px;
	background: url(https://res.kurly.com/pc/service/main/2010/ico_hook.svg)
		no-repeat 0 2px;
	background-size: 18px 18px;
	font-size: 14px;
	color: #ccc;
	line-height: 20px;
	letter-spacing: -0.4px
}

.main_special .list_goods {
	float: right;
	width: 694px
}

.main_special .list_goods .list {
	overflow: hidden;
	width: 712px
}

.main_special .list_goods li {
	width: 694px
}

.main_special .list_goods .thumb_goods {
	position: relative;
	background-color: #eee
}

.main_special .list_goods .thumb {
	display: block;
	width: 694px;
	height: 338px;
}

.main_special .list_goods .ico {
	position: absolute;
	left: 0;
	top: 0;
	width: 62px;
}

.main_special .list_goods .bg {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	opacity: 0.6
}

.main_special .list_goods .count {
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 100%;
	text-align: center
}

.main_special .list_goods .count .num {
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	line-height: 24px
}

.main_special .list_goods .count .txt {
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	vertical-align: 2px
}

.main_special .list_goods .info_goods {
	position: relative
}

.main_special .list_goods .name {
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 13px 0 0 4px;
	white-space: nowrap;
	text-overflow: ellipsis
}

.main_special .list_goods .name .txt {
	font-size: 16px;
	line-height: 24px
}

.main_special .list_goods .sub_name {
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 5px 0 7px 4px;
	font-size: 16px;
	color: #999;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis
}

.main_special .list_goods .price {
	overflow: hidden;
	padding-left: 4px
}

.main_special .list_goods .dc {
	float: left;
	padding-right: 6px;
	font-weight: 800;
	font-size: 20px;
	color: #fa622f;
	line-height: 30px
}

.main_special .list_goods .in_price {
	float: left;
}

.main_special .list_goods .selling {
	font-weight: 800;
	font-size: 20px;
	line-height: 30px
}

.main_special .list_goods .cost {
	padding-left: 4px;
	font-size: 14px;
	color: #999;
	line-height: 30px;
	text-decoration: line-through
}
sold_out
.main_special .list_goods .sold_out .bg {
	z-index: 2;
	height: 100%;
	background-color: #000;
	opacity: 0.5
}

.main_special .list_goods .sold_out .info {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -2px;
	transform: translate(0, -50%);
	text-align: center
}

.main_special .list_goods .sold_out .tit {
	display: block;
	font-weight: bold;
	font-size: 28px;
	color: #fff;
	line-height: 40px
}

.main_special .list_goods .sold_out .desc {
	display: block;
	padding: 11px 10px 0;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
	word-break: break-all
}
2개일때
.main_special .list_goods2 li {
	float: left;
	width: 338px;
	margin-right: 18px;
	padding-bottom: 3px
}

.main_special .list_goods2 .thumb {
	width: 338px;
	height: 434px
}

.main_special .list_goods2 .name {
	max-height: 66px;
	padding-top: 14px;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word
}

.main_special .list_goods2 .sub_name {
	display: none;
	padding: 0
}

####
배너
####
.bnr_main {
	width: 1050px;
	margin: 0 auto
}

.bnr_main .link {
	display: block;
	min-height: 140px;
	background-color: #eee;
	background-position: 50% 50%;
	background-size: cover;
	cursor: pointer
}

.bnr_main .tit {
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 35px 50px 0;
	font-weight: 700;
	font-size: 28px;
	line-height: 38px;
	white-space: nowrap;
	text-overflow: ellipsis
}

.bnr_main .txt {
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 5px 50px 0;
	font-size: 16px;
	line-height: 24px;
	white-space: nowrap;
	text-overflow: ellipsis
}

.bnr_type2 .link {
	height: 160px;
	padding-top: 24px
}

.bnr_type2 .tit {
	line-height: 40px
}

.bnr_type2 .txt {
	padding-top: 7px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and
		(min-device-pixel-ratio: 1.5) , only screen and (min-resolution:
	1.5dppx) {
	.page_main .bx-controls-direction .bx-prev {
		background:
			url(https://res.kurly.com/pc/service/main/1908/btn_prev_default_x2.png?v=1)
			no-repeat 50% 50%;
		background-size: 60px 60px
	}
	.page_main .bx-controls-direction .bx-prev:hover {
		background:
			url(https://res.kurly.com/pc/service/main/1908/btn_prev_default_hover_x2.png?v=1)
			no-repeat 50% 50%;
		background-size: 60px 60px
	}
	.page_main .bx-controls-direction .bx-next {
		background:
			url(https://res.kurly.com/pc/service/main/1908/btn_next_default_x2.png?v=1)
			no-repeat 50% 50%;
		background-size: 60px 60px
	}
	.page_main .bx-controls-direction .bx-next:hover {
		background:
			url(https://res.kurly.com/pc/service/main/1908/btn_next_default_hover_x2.png?v=1)
			no-repeat 50% 50%;
		background-size: 60px 60px
	}
	.page_main .bg .bx-controls-direction .bx-prev {
		background:
			url(https://res.kurly.com/pc/service/main/1908/btn_prev_gray_x2.png?v=1)
			no-repeat 50% 50%;
		background-size: 60px 60px
	}
	.page_main .bg .bx-controls-direction .bx-prev:hover {
		background:
			url(https://res.kurly.com/pc/service/main/1908/btn_prev_gray_hover_x2.png?v=1)
			no-repeat 50% 50%;
		background-size: 60px 60px
	}
	.page_main .bg .bx-controls-direction .bx-next {
		background:
			url(https://res.kurly.com/pc/service/main/1908/btn_next_gray_x2.png?v=1)
			no-repeat 50% 50%;
		background-size: 60px 60px
	}
	.page_main .bg .bx-controls-direction .bx-next:hover {
		background:
			url(https://res.kurly.com/pc/service/main/1908/btn_next_gray_hover_x2.png?v=1)
			no-repeat 50% 50%;
		background-size: 60px 60px
	}
	.page_main .tit_goods .name .ico {
		background:
			url(https://res.kurly.com/pc/service/main/1908/ico_title_link_x2.png)
			no-repeat 100% 50%;
		background-size: 32px 32px
	}
	.main_type1 .bx-controls-direction .bx-prev:hover, .main_type1 .bx-controls-direction .bx-prev
		{
		background:
			url(https://res.kurly.com/pc/service/main/1908/ico_prev1_x2.png)
			no-repeat 50% 50%;
		background-size: 52px 52px
	}
	.main_type1 .bx-controls-direction .bx-next:hover, .main_type1 .bx-controls-direction .bx-next
		{
		background:
			url(https://res.kurly.com/pc/service/main/1908/ico_next1_x2.png)
			no-repeat 50% 50%;
		background-size: 52px 52px
	}
	.main_md .link_more .ico {
		background:
			url(https://res.kurly.com/pc/service/main/1903/ico_more_link_x2.png)
			no-repeat 100% 50%;
		background-size: 20px 20px
	}
	.category_type .link_more .ico {
		background-image:
			url(https://res.kurly.com/pc/service/main/1903/ico_more_link_x2.png);
		background-size: 20px 20px
	}
}

#footer {
	opacity: 1
}

.shell_ani {
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-o-animation-play-state: running;
	animation-play-state: running;
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation: loop 1s linear infinite;
	-moz-animation: loop 1s linear infinite;
	-o-animation: loop 1s linear infinite;
	animation: loop 1s linear infinite;
}

@
-webkit-keyframes loop { 0% {
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

100
%
{
-moz-transform
:
translateX(
1200%
);
-ms-transform
:
translateX(
1200%
);
-webkit-transform
:
translateX(
1200%
);
transform
:
translateX(
1200%
);
}
}
@
-moz-keyframes loop { 0% {
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

100
%
{
-moz-transform
:
translateX(
1200%
);
-ms-transform
:
translateX(
1200%
);
-webkit-transform
:
translateX(
1200%
);
transform
:
translateX(
1200%
);
}
}
@
-ms-keyframes loop { 0% {
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

100
%
{
-moz-transform
:
translateX(
1200%
);
-ms-transform
:
translateX(
1200%
);
-webkit-transform
:
translateX(
1200%
);
transform
:
translateX(
1200%
);
}
}
@
keyframes loop { 0% {
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
100
%
{
-moz-transform
:
translateX(
1200%
);
-ms-transform
:
translateX(
1200%
);
-webkit-transform
:
translateX(
1200%
);
transform
:
translateX(
1200%
);
}
} */